@model TaskTimePredicter.Models.Quest

@{
    ViewData["Title"] = "Crear Tarea";
}

<h1>Crear Tarea</h1>

<h4>Nueva Tarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nombre Tarea</label>
                <input asp-for="QuestName" class="form-control" />
                <span asp-validation-for="QuestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tiempo Estimado para completar la tarea</label>
                <input asp-for="EstimatedTime" class="form-control" />
                <span asp-validation-for="EstimatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categoría a la que pertenece</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.Categories">
                    <option value="">-- Seleccione una Categoría --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Tarea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista de Tareas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
