@model TaskTimePredicter.Models.Quest

@{
    ViewData["Title"] = "Crear Tarea";
}

<h1>Crear Tarea</h1>

<h4>Nueva Tarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestState" value="En Progreso" />
            <div class="form-group">
                <label class="control-label">Nombre Tarea</label>
                <input asp-for="QuestName" class="form-control" />
                <span asp-validation-for="QuestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tiempo Estimado para completar la tarea</label>
                <input asp-for="EstimatedTime" class="form-control" type="number" step="0.01" min="0.01" required />
                <span asp-validation-for="EstimatedTime" class="|text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Subcategoría a la que pertenece</label>
                <select asp-for="SubcategoryId" class="form-control" asp-items="ViewBag.SubcategoryId">
                    <option value="">-- Seleccione una Subcategoría --</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Proyecto al que pertenece</label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                    <option value="">-- Seleccione un Proyecto --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Tarea" class="btn btn-primary" />
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista de Tareas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
