@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡BIENVENIDO!</h1>
    <p>Este es mi proyecto CRUD para gestionar usuarios, categorías y tareas... <a href="https://www.youtube.com/watch?v=BY_XwvKogC8">Esta es mi canción favorita :3</a>.</p>
</div>
