@model TaskTimePredicter.Models.Project

@{
    ViewData["Title"] = "Detalles Proyecto";
}

<h1>Detalles del Proyecto</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de Proyecto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            Descripción del Proyecto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver a la Lista de Proyectos</a>
</div>
