@model TaskTimePredicter.Models.User

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label class="control-label">Nombre Usuario</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo Electrónico</label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rol</label>
                <select asp-for="UserRole" class="form-control" asp-items="ViewBag.UserRole"></select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
